// COLORS
$color-primary: #303F9F;
$color-primary-light: #3F51B5;
$color-primary-dark: #1A237E;

$color-grey-light: #eee;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// Colorfuls
$color-green: #2ecc71;
$color-blue: #3498db;
$color-mauve: #9b59b6;
$color-yellow: #f1c40f;
$color-orange: #f39c12;
$color-red-dark: #c0392b;


// FONTs
$default-font-size: 1.6rem;