@import '../../../helpers/variables';

.barContainer {
    position: relative;
    .progressBar {
        position: absolute;
        top: -2.5rem;
        width: 100%;
        height: 2.5rem;
        border-radius: 0;
        border: .2rem solid rgba($color-white, .1);
    }
    .range {
        background-color: $color-primary-dark;
        height: 100%;
        border-radius: inherit;
        transition: width .2s ease-in;
    }
}