@import '../../helpers/variables';
@import '../../helpers/mixins';

.sidepanel {
    height: 100vh;
    background-color: $color-primary-dark;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    // user panel component
    .userpanelHeader {
        text-align: center;
        .userpanelHeaderName {
            font-family: 'Lobster', cursive;
            font-size: 3.5rem;
            color: $color-grey-light;
            text-transform: uppercase;
            letter-spacing: .3rem;
            margin-bottom: 1rem;
        }
    }
    .userpanelDropdown {
        position: relative;
        background-color: rgba($color-grey-light, .15);
        padding: 1rem 0;
        z-index: 2;
        .avatar {
            position: absolute;
            right: 1rem;
            top: -.25rem;
        }
        .currentUsername {
            position: absolute;
            left: 1rem;
            font-size: $default-font-size;
        }
    }
    // channels component
    .channels {
        margin-top: 1.5rem;
        .channelsLength {
            position: relative;
            span:first-child {
                position: absolute;
                left: 0;
                font-size: 1.4rem;
                color: $color-grey-light;
            }
            span:last-child {
                position: absolute;
                right: 0;
                font-size: 1.4rem;
                color: rgba($color-grey-light, .5);
                cursor: pointer;
                color: $color-green;
                background-color: rgba($color-grey-light, .15);
                padding: .2rem .8rem;
                border-radius: .3rem;
                z-index: 1;
                transition: all .1s;
                &:active {
                    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
                    transform: translateY(.25rem);
                }
                .modalTrigger {
                    font-size: 1.4rem;
                    &:active, &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }
        }
        .channelsList {
            max-height: 10rem;
            margin-top: 3.5rem;
            font-size: 1.4rem;
            overflow-y: auto;
            scroll-behavior: smooth;
            background-color: rgba($color-grey-light, .15);
            color: $color-grey-light;
            li {
                padding: .5rem 1rem;
                word-break: break-all;
                cursor: pointer;
                transition: background-color .09s ease-in-out;
                &:hover {
                    background-color: rgba($color-grey-light, .19);
                }
            }
            .activeChannel {
                background-color: rgba($color-grey-light, .19);
                &:hover {
                    background-color: rgba($color-grey-light, .19);
                }
            }
        }
    }
    // direct messages component
    .directMessages {
        margin-top: 1.5rem;
        .usersLength {
            span {
                font-size: 1.4rem;
                color: $color-grey-light;
            }
        }
        .usersList {
            max-height: 10rem;
            margin-top: 1rem;
            overflow-y: auto;
            scroll-behavior: smooth;
            background-color: rgba($color-grey-light, .15);
            color: $color-grey-light;
            li {
                &:not(:first-child) {
                    margin-top: .5rem;
                }
                position: relative;
                font-size: 1.4rem;
                padding: .5rem 1rem;
                word-break: break-all;
                cursor: pointer;
                transition: background-color .09s ease-in-out;
                &:hover {
                    background-color: rgba($color-grey-light, .19);
                }
            }
            .activeChannel {
                background-color: rgba($color-grey-light, .19);
                &:hover {
                    background-color: rgba($color-grey-light, .19);
                }
            }
            .statusIcon {
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: .8rem;
                height: .8rem;
                border-radius: 50%;
                margin-left: .8rem;
                &.green {
                    background-color: $color-green;
                }
                &.grey {
                    background-color: rgba($color-grey-light, .4);
                }
            }
        }
    }
    // Starred Channels
    .starredChannels {
        margin-top: 1.5rem;
        .starredLength {
            span {
                font-size: 1.4rem;
                color: $color-grey-light;
            }
        }
        .starredList {
            max-height: 10rem;
            margin-top: 1rem;
            font-size: 1.4rem;
            overflow-y: auto;
            scroll-behavior: smooth;
            background-color: rgba($color-grey-light, .15);
            color: $color-grey-light;
            li {
                padding: .5rem 1rem;
                word-break: break-all;
                cursor: pointer;
                transition: background-color .09s ease-in-out;
                &:hover {
                    background-color: rgba($color-grey-light, .19);
                }
            }
            .activeChannel {
                background-color: rgba($color-grey-light, .19);
                &:hover {
                    background-color: rgba($color-grey-light, .19);
                }
            }
        }
    }
}

// Channel modal
.addChannel {
    @include modalBodyStyle;
    .addChannelHeader {
        h2 {
            color: $color-primary;
            text-transform: uppercase;
            font-weight: 900;
        }
    }
    .addChannelContent {
        margin-top: 1.5rem;
    }
    .addChannelFields {
        .addChannelField {
            input {
                color: $color-grey-dark;
                border: .1rem solid rgba($color-black, .15);
                width: 100%;
                height: 5rem;
                padding-left: 1rem;
                outline: none;
                transition: box-shadow .2s ease-in-out;
                &:focus, &:active {
                    box-shadow: 0 0 .2rem .2rem rgba($color-primary, .8);
                }
            }
        }
    }
    .channelActions {
        @include modalActionsButtons;
    }
}